/* _custom.scss */

/* Dark mode styles: change the defaults set in variables 
@media (prefers-color-scheme: dark ) {
:root {
    --svg-fill-color: var(--white);
    --svg-stroke-color: var(--black);
    --temp: var(--body-bg);
    --body-bg: var(--body-text);
    --body-text: var(--temp);
    --nav-bg: var(--white);
    --nav-text: var(--black);
    --red-8: var(--red-4);
    }
}
*/

html {
    color-scheme: dark light;
    font-size: 1rem;
}
  
@font-face {
    font-family: 'theSeasons';
    src: url('/fonts/the-seasons/The-Seasons-Regular.eot');
    src: url('/fonts/the-seasons/The-Seasons-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/the-seasons/The-Seasons-Regular.woff2') format('woff2'),
        url('/fonts/TheSeasons/The-Seasons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Lastica';
  src: url('/fonts/Lastica.eot');
  src: url('/fonts/Lastica.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Lastica.woff2') format('woff2'),
      url('/fonts/Lastica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    // margin: 0; default
    // line-height: 1.15; default
    // -webkit-text-size-adjust: 100%; default
    background-color: var(--body-bg);
    color: var(--body-text);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Ensure full viewport height */
}


@media (max-width: 768px) {
  html {
    font-size: 87.5%; /* Reduce to 14px */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 75%; /* Reduce to 12px */
  }
}

article {
    margin-right: auto;
    margin-left: auto;
    max-width: 75rem;
    font-size: 1.25rem;
    padding: 1rem;
    line-height: 1.5; // default is 1.15
}

.bg-top {
  background-repeat:no-repeat;
  background-position:top;
}

.cover { 
  background-size:cover!important;
}

.development {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:1px solid black;
    background-color: lightgray;
    color: black;
}

article  svg {
  width: 1.5rem;
}

a {
  color: var(--white);
  text-decoration: none;
  letter-spacing: .04em; /* Adjust spacing for bold text */
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: normal; 
}


section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height:auto  ;
  min-height: 90dvh;
  gap: 1.25rem;
  background: var(--body-bg);
  border-top:1px solid var(--gray-5);
  padding: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dynamic wrapping */
  height:auto  ;
  gap: 1.25rem;
  width: 100%; /* Ensure the container takes up the full width of its parent */
  max-width: 100%; /* Prevent unintended overflow */
  box-sizing: border-box; /* Includes padding and border in width calculations */
}

.grid-item {
  align-self: normal;
  background: var(--body-bg);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: .75rem;
}

.grid-title {
  font-size:1.5em;
  margin:.3em 0;
  padding-left: 2rem;
  font-family: "Lastica";
}

.flexible-grid {
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flexible-grid >* {
  flex: 1;
}

.image-container {
  width: 300px; /* Set desired width */
  height: 400px; /* Set desired height */
  overflow: hidden; /* Hide overflow */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

button {
  max-width: max-content;
  padding: 0.1em 0.5em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  height: 90vh;
  justify-content: space-between;
}

header {
  display: block;
}
