/* _custom.scss */

/* Dark mode styles: change the defaults set in variables 
@media (prefers-color-scheme: dark ) {
:root {
    --svg-fill-color: var(--white);
    --svg-stroke-color: var(--black);
    --temp: var(--body-bg);
    --body-bg: var(--body-text);
    --body-text: var(--temp);
    --nav-bg: var(--white);
    --nav-text: var(--black);
    --red-8: var(--red-4);
    }
}
*/

@font-face {
    font-family: 'theSeasons';
    src: url('/fonts/the-seasons/The-Seasons-Regular.eot');
    src: url('/fonts/the-seasons/The-Seasons-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/the-seasons/The-Seasons-Regular.woff2') format('woff2'),
        url('/fonts/TheSeasons/The-Seasons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Lastica';
  src: url('/fonts/Lastica.eot');
  src: url('/fonts/Lastica.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Lastica.woff2') format('woff2'),
      url('/fonts/Lastica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  color-scheme: dark light;
}

body {
    /* resets are done in reser.scss */
    background-color: var(--body-bg);
    color: var(--body-text);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center center;
    min-height: 100vh; /* Ensure full viewport height as a minimum setting */
}

article {
    margin-right: auto;
    margin-left: auto;
    max-width: 75rem;
    font-size: 1.25rem;
    padding: 1rem;
    line-height: 1.5; // default is 1.15
}

article svg {
  width: 1.5rem;
}

a {
  color: var(--white);
  text-decoration: none;
  letter-spacing: .04em; /* Adjust spacing for bold text */
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: normal; 
}

button {
  max-width: max-content;
  padding: 0.1em 0.5em;
}

header {
  display: block;
}

section {
  min-height: 100vh; // use as a backup
  min-height: 100dvh; // better for mobile 
  max-width: 1200px;
  background: var(--body-bg);
  border-top: 1px solid var(--gray-5);
  padding: 0.5rem;
  margin: 0 auto;
}

.bg-top {
  background-repeat:no-repeat;
  background-position:top;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;  /* Optional: ensures the image maintains aspect ratio */
}

.cover { 
  background-size:cover!important;
}

.development {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top:1px solid black;
  background-color: lightgray;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  height: 90vh;
  justify-content: space-between;
}

.flexible-grid {
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flexible-grid >* {
  flex: 1;
}

.grid-container {
  display: grid;
  grid-auto-flow: column; // a useful option at times
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dynamic wrapping */
  height: auto  ;
  gap: 1.25rem;
  width: 100%; /* Ensure the container takes up the full width of its parent */
  max-width: 100%; /* Prevent unintended overflow */
  box-sizing: border-box; /* Includes padding and border in width calculations */
  justify-items: center;  /* Optional: center horizontally */
}

.grid-item {
  align-self: normal;
  display: grid;
  padding: .75rem;
}

.grid-title {
  font-size:1.5em;
  margin:.3em 0;
  padding-left: 2rem;
  font-family: "Lastica";
}

.image-container {
  width: 300px; /* Set desired width */
  height: 400px; /* Set desired height */
  overflow: hidden; /* Hide overflow */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.title {
  font-size: 2rem;
  font-family: Lastica;
  text-transform: uppercase;
  letter-spacing:0.75cqb;
  margin: 0.3rem 0;
  text-align: center;
  align-self: center;
  justify-self: center;
}



.primary-header {
  display: grid;
  // grid-template-areas: "stack";
  place-items: center;
}

.primary-header > * {
  // grid-area: stack;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}



@media (max-width: 768px) {
  body {
    font-size: 87.5%; /* Reduce to 14px */
  }
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 75%; /* Reduce to 12px */
  }
}

@media (min-width: 50em) {
  .primary-header {
    grid-template-columns: 1fr 1fr;
  }

  .primary-header__image {
    grid-column: 1;
  }

  .primary-header__title {
    grid-column: 2;
  }
}

/*
<header class="primary-header">
<img src="" alt="" class="" >
<h1 class="primary-header__title">
 simplify your CSS
</h1>
*/