#design-your-future {

}.title4 {
  font-size:1.2rem;
  margin:.3em 0;
  text-align: center;
}

.title3 {
  font-size:2em;
  margin:.3em 0;
  text-align: center;
  text-transform: uppercase;
}

}