#building-your-own-business {

  .grid-container {
    grid-auto-flow: row;
    grid-template-columns: repeat(2,1fr);
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 50px auto; 
    height: 100vh;
  }

  .title {
    grid-column: 1 / -1; /* Span from the first column to the last */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Optional, ensures content fits */
  }

  .content {
    margin-bottom: 2rem;
  }

  .title4 {
    font-size:1.2rem; 
    margin:.3em 0;
    text-align: center; 
  }

  .title3 {
    font-size:2em;
    margin:.3em 0;
    text-align: center;
    text-transform: uppercase;
  }

  .grid-item {
    border: 0.8rem solid black;
    background-color: black;
    padding: 0;
    align-self: center;
    text-align: center;     
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .grid-item.block {
    display: block;
    text-align: justify;
    background-color: var(--body-bg);
  }
  
  
  .nb .grid-item {
  border: 0;
  }
  
  .grid-title {
    font-size:1rem;
    margin:.3rem 0;
    color: var(--pink-4);
    line-height: 1;
    min-height: 50px;   
  }
  
  .title {
    font-size:2rem;
    margin:.3rem 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lastica";
    letter-spacing:0.75cqb;
  }

  .text {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .small{
    font-size: 0.7rem;
    padding: 0.5rem 0;
    &.nopad {
      padding:0;
    }
  }
  
  .arrow {
    margin-left: 60px;
  }
  
  .click {
    font-size: 0.8rem;
    font-style:italic ;
  }

}