
section#cbtv {

  /* due to tthe header on top of this section */
  min-height: 85vh; // use as a backup
  min-height: 85dvh; // better for mobile 

  .container {
    background-image: url('../home.png');
    background-repeat: no-repeat;      /* Prevent the image from repeating */
    background-position: center;      /* Center the image */  
    background-size: 100vw 100vh; /* Set the height to the screen height, ignore the aspect ratio */
    display: grid;
    grid-template-rows: 50% 25% 25%; 
    overflow: hidden;
  }

  .title {
    align-self: end;
    justify-self: left;
    font-size: 6rem;
    margin:.3rem 0;
    text-align: left;
  }

  .subtitle {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .logo {
    width: 100%;
    text-align: right;
    align-self: center;
  }

  .logo img {
    width: 10vw;  /* Make the image fill the width of its container */
    height: auto; /* Maintain the aspect ratio */
  }

  
}