
section#cbtv {
  background-image: url('../home.png');
  background-repeat: no-repeat;      /* Prevent the image from repeating */
  background-position: center;      /* Center the image */  
  background-size: 100vw 100vh; /* Set the height to the screen height, ignore the aspect ratio */
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh; /* Ensures the body fills the viewport */
  padding: 0 2rem;

  .title {
    font-size:2rem;
    margin:.3rem 0;
    text-transform: uppercase;
    font-family: "Lastica";
    letter-spacing:0.75cqb;
  }

  .logo {
    width: 100%;
    text-align: right;
    align-self: center;
  }

  .logo img {
    width: 30vw;  /* Make the image fill the width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Avoid extra space at the bottom of images */
  }
}