section#contact {

  .title {
    font-family: "Lastica"; 
    letter-spacing:0.75cqb;
    margin:1rem 0;
    colspan: 3;
  }

  p {
    // font-family: "Lastica"; 
    // letter-spacing:0.75cqb;
  }

  p.subtitle {
    font-family: initial; 
    letter-spacing: initial;
    font-size: .8rem;
    margin-top: 1rem;
  }

  .main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 150px auto; /* Creates first row with dynamic height */
    gap: 1rem; /* Adds spacing between grid items */
    padding: 1rem; /* Optional padding around the grid */
    align-items: center; /* Vertically centers all grid items */
    padding: 0 20px;
  }
  
  @media (max-width: 468px) {
    .main {
      grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns */
    }
    .stone {
      visibility:hidden ; 
    }
  }

  .email {
    padding-top: 2.5rem; 
  }
  
  .stone img {
    width: 110px;
    display: block;
  }
  
  .address img {
    max-width: 50px; /* Adjust the image size for address icons */
    vertical-align: middle; /* Aligns images with text */
  }
  
  img {
    width: 1.5rem;
    padding-right: .5rem;
  }

  .img1 {
    justify-self: right;
    align-self: normal;
  }

  .img2, .img3 {
    justify-self: center;
  }

  .img4 {
    justify-self: right;
  }

}
