#design-your-future {
  
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-template-rows: 50px auto; /* First row is 50px high, second row adjusts automatically */
    grid-auto-flow: row;
  }
   
  .title {
    grid-column: 1 / -1; /* Span from the first column to the last */
    margin-bottom: 50px;
  }

  article {
    background-color: var(--black);
  }

  .grid-item {
    width: 100%;
    padding: 0;
    align-self: center;
    justify-content: center;
    //display: grid;
    //grid-template-rows: auto 1fr auto;
  }
  
  .grid-title {
    font-size:1rem;
    padding: 1rem 0;
    color: var(--pink-4);
    line-height: 1;
    height: 50px;
    text-align: center;    
  }

  .text {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .small {
    font-size: 0.7rem;
    padding: 0.5rem 0;
    &.nopad {
      padding:0;
    }
  }
  
  .arrow {
    margin-left: 60px;
  }
  
  .click {
    font-size: 0.8rem;
    font-style:italic ;
  }

}