#design-your-future {
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: row;
    align-items: stretch;
  }

  /* Media query for smaller screens */
  @media (max-width: 760px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    }
  }

  .title {
    grid-column: 1 / -1; /* Span from the first column to the last */
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .top {
    grid-column: 1 / -1;
  }

  a {
    text-decoration: none;
    color: var(--pink-4);
    &:hover {
      color: var(--anchor);
    }
  }

  article {
    background-color: var(--black);
  }

  article {
    max-width: 350px;
  }

  article .item {
    width: 100%;
    padding: 0;
    align-self: center;
    justify-content: center;
    //display: grid;
    //grid-template-rows: auto 1fr auto;
  }
  
  article .title {
    font-size:1rem;
    padding: 1rem 0;
    color: var(--pink-4);
    line-height: 1;
    height: 50px;
    text-align: center;    
  }

  article .text {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .small {
    font-size: 0.7rem;
    padding: 0.5rem 0;
    &.nopad {
      padding:0;
    }
  }
  
  
}