footer {
  border-top: 1px solid slategray;
  // border-bottom: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
  }

  a {
    color: var(--body-text);
    text-decoration: none;
  }

  .icon {
    padding-right: 1rem;
  }
  .icon svg {
    width: 1.5rem;
  }
}