
#merch {
  
  .grid {
    display: grid;
    margin: 100px 30px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Each column is at least 100px wide */
    justify-self: center;
    gap: 1rem;
  }

  .title {
    padding: 1rem 0;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Lastica";
    letter-spacing:0.75cqb;
  }

  img {
    aspect-ratio: 1;
    min-width: 100px;
  }

  .arrow {
    min-width: 50px;
    width: 50%;
  }
}
