
#merch {
  grid-template-columns: none;
  grid-template-rows: repeat(3, 1fr);
  
  article {
    border-top: .5rem solid var(--blue-2);
    border-bottom: .5rem solid var(--blue-2);
  }
  .title {
    padding-top: 1rem;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Lastica";
    letter-spacing:0.75cqb;
  }

  .grid-container {
    justify-self: center;
    grid-template-columns: repeat(5, 1fr);
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container .week {
    grid-template-rows: 1fr auto 1fr;  
    /* Define three rows: top and bottom fixed, middle flexible */
  }

  img {
    aspect-ratio: 1;
  }
}
