
#send-in-your-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-auto-rows: (minmax(100px,auto));
  min-height: 80vh; /* not Full height of the viewport */
  grid-template-areas: 
    "header header header" 
    "step0 step1 step2"
    "footer footer footer";
  > * {
    text-align: center;
  }
  
  .step0 {
    grid-area: step0;
  }
  .step1 {
    grid-area: step1;
  }
  .step2 {
    grid-area: step2;
  }

  .header {
    grid-area: header;
    text-align: center;
  }

  .footer {
    grid-area: footer;
    font-size: .8rem;
    color: var(--gray-3);
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .drop {
    flex: unset;
  }

  img {
    max-width: 80px;
  }

  .upload {
    justify-content: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
  }

  .item.item1 {
    justify-content: center; /* Centers children vertically */
  }
  
  .step {
    margin-bottom: 1rem;
  }

  .circle {
    display: flex;                /* Enables Flexbox */
    justify-content: center;      /* Horizontally centers text */
    align-items: center;          /* Vertically centers text */
    max-width: 100px;                 /* Set circle width */
    height: 100px;                /* Set circle height */
    border-radius: 50%;           /* Makes it circular */
    border: 3px solid var(--green-4); 
  }
}
