#send-in-your-content {

  .container {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: auto 1fr auto; /* Title, content, and footer rows */
    align-items: center;
  }

  /* Media query for smaller screens */
  @media (max-width: 450px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(150px, auto));
      [class^="item"] {
        height: max-content;
      }
    }
  }

  .header {
    text-align: center;
    grid-column: 1 / -1;
  }

  .top {
    grid-column: 1 / -1;
    text-align: right;
  }

  .drop {
    flex: unset;
  }

  img {
    max-width: 80px;
  }

  .upload {
    justify-content: center;
  }

  .item-1, .item-2, .item-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 50vh;
  }

  .item-2 {
    align-self: end;
    justify-content: flex-end; /* Align content to the bottom */
  }

  .step {
    margin-bottom: 1rem;
  }

  .circle {
    display: flex;                /* Enables Flexbox */
    justify-content: center;      /* Horizontally centers text */
    align-items: center;          /* Vertically centers text */
    max-width: 100px;                 /* Set circle width */
    height: 100px;                /* Set circle height */
    border-radius: 50%;           /* Makes it circular */
    border: 3px solid var(--green-4); 
  }

}
