#the-cbtv-archive {
  display: flex;
  flex-direction: column;
 
  
  .grid-container.week {
    grid-auto-flow: row;
  }
  
  .bg {
    background-color: var(--menu-bg); 
    height: inherit;
  }

  .grid-item {
    gap: 2rem;
    grid-template-rows: auto 1fr auto;
    background-repeat: no-repeat;  /* Prevent the image from repeating */
    background-size: cover;  /* Optional: Makes the image cover the entire element */
    height: 300px;
    border-radius: 30px;
  }

  .item {
    flex: 1; /* Each item takes up equal space */
    padding: 10px; /* Optional: Add some padding for spacing inside the items */
  }

  .button {
    justify-self: center;
    text-align: center;
    width: 100%;

    width: 80%;
    text-align: center;
    font-size: 0.8rem;
    justify-self: center;
    max-width: none;
    border-radius: 20px;
    font-weight: 800;
    color: var(--white);
  }

  button {
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
    justify-self: center;
    max-width: none;
    border-radius: 20px;
    font-weight: 800;
    color: var(--white);
  }

  button, 
  .blog {
    background: linear-gradient(90deg, #832eff, #fe4ff2);
  }

  .blog {
    width: 100vw; /* Makes the header span the full width of the viewport */
    text-transform: uppercase;
    font-family: "Lastica";
    letter-spacing: 0.75cqb;
    padding: 1rem;
    margin-left: 0.5rem;
    border-bottom-left-radius: 20px;
    // height: 3rem;
  }

  ul{
    background: var(--menu-bg);
      padding: 1rem;
      list-style: none;
  }

  li {
    padding: 0.5rem;
  }

  .caps {
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
  }

  .photo {
    text-align: center;
    padding: 1rem;
    background-color: var(--body-bg); 
    & .name {
      padding-top:1rem;
    }
  }

  .circle {
    border-radius: 50%;
  }

  .normal {
    background-color: var(--body-bg); 
  }

  article.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .rows {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    height: inherit;
  }

  .grid-title, .subtitle {
    text-align: center;
  }
  .grid-title {
    margin-bottom: 0;
  };

  .header {
    text-transform: uppercase;
    text-align: center;
  }

  .text{
    padding: 0 1rem;
    text-align: justify;
  }

  .footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
  }





  .outer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 1rem; /* Space between columns */
  }
  
  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    gap:1rem;
  }

  .inner-grid {
    display: grid;
    gap: 0.5rem; /* Space between rows */
    place-items: center;
    height: inherit;
    text-align: center;
    isolation: isolate;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    // grid-template-areas: "stack";
  }
  
  .inner-grid > * {
    // grid-area: stack;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  .inner-grid > img {
    z-index: -1;
  }
  .inner-grid-item {
    padding: 1rem;
  }
  


}
