#the-cbtv-archive {
 
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between; 
    grid-auto-flow: dense; 
  }

  /* Media query for smaller screens */
  @media (max-width: 760px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    }
  }

  .title {
    grid-column: 1 / -1;
    text-align: center;
  }

  .item {
    padding: 10px; /* Optional: Add some padding for spacing inside the items */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire element */
    height: 50vh;
    text-align: center;
    // min-width: 200px; /* Optional: fixes item size */
  }

  .rows {
    display: flex;
    flex-direction: column; /* Arrange items in a vertical column */
    justify-content: space-between; /* Push items to the top and bottom */
    height: 100%; /* Full height of the image */
  }

  button {
    padding: 0.25em 0.75em;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    color: var(--white);
    background: var(--gradient);
    align-self: center;
    &:hover {
      background-color: #832eff;
    }
  }

  .image-title {
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .top {
    grid-column: 1 / -1;
  }
}
