#what-is-cbtv {

  .grid-container {
    grid-template-rows: auto auto;
    grid-template-areas: 
      "bubbles title"
      "bubbles content";
  }

  .bubbles {
    grid-area: bubbles;
  }

 
  .centered-image {
    align-self: center;  /* Vertically center only this image */
  }

  /* For screens smaller than 600px, reduce the minimum size */
  @media (max-width: 600px) {
    .bubbles {
      display: none;
    }
  }

  .title { 
    grid-area: title;
    font-size: 2rem;
    text-align: center;
    align-self: end;
    font-family: lastica;
  }

  .content {
    padding:0 3rem;
    grid-area: content;
    align-self: center;
  }
}

