#student-blogs {

  .title {
    flex: 1 1 100%; /* Full width */
    background: linear-gradient(90deg, #832eff, #fe4ff2);
    height: 50px;
    text-align: start;
    align-content: center;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left:20px;
    border-bottom-left-radius: 20px;
  }

  .flex-container {
    background-color: var(--menu-bg); 
    align-items: stretch; /* Ensures children stretch to the container's height */
  }

  .item {
    flex: 1; /* Each item takes up equal space */
    padding: 10px; /* Optional: Add some padding for spacing inside the items */
  }

  /* The first item, the menu */
  ul {
    background: var(--menu-bg);
    padding: 1rem;
    list-style: none;
  }

  li {
    padding: 0.5rem;
  }

  /* the second item, which is the 3rd column, the image */
  .item:nth-child(3) {
    height: 100%; 
    display: flex; /* Enable flexbox for the column */
    flex-direction: column;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: var(--body-bg); 
  }

  

  img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  /* last child */

  .item:last-child {
    align-items: center; /* Vertically center */
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--body-bg);
    height: 100%;
  }

  .header {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }

  p {
    text-align: justify;
    padding: 1rem 1rem;
  }

  .footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

}
