<!-- Our main script below the body -->

{{- $config     := resources.Get "/js/cookieconsent-config.js" }}
{{- $cookie     := resources.Get "/js/cookieconsent3.js" }}
{{- $custom     := resources.Get "/js/custom.js" }}

{{ $js := "" }} <!-- Initialize as nil instead of an empty string -->

{{ if and $cookie $custom }}
    {{- $js = slice $custom $cookie $config | resources.Concat "js/script.js" }}
{{ else }}
    {{ warnf "One or more javascripts are missing." }}
{{ end }}


<script type="module" src="{{ $js.RelPermalink }}" defer ></script>

