<div class="header">
  <div class="title">{{ .Title }}</div> 
  <div class="subtitle">{{ .Params.subtitle }}</div> 
</div>

<div class="item">
    <div class="step">{{ i18n "step" }} 1</div>
    <div class="circle">{{ .Params.step0 }}</div>
</div>

<div class="item item1">
  <div class="step">{{ i18n "step" }} 2</div>
  <div class="circle">{{ .Params.step1 }}</div>
</div>

<div class="item">
  <div class="step">{{ i18n "step" }} 3</div>
  <img src="{{ trim $.Params.upload "/" | absURL }}" alt="upload">
  <div class="upload"> {{ .Params.step2 }}</div>
</div>

<div class="footer">{{ .Params.footer }}</div> 