<div class="flex-container">
  <div class="title">{{ .Params.title }}</div>
  <ul class="item">
    {{- range .Params.sidemenu }}
    <li><a href="#">{{ .item }}</a></li>
    {{- end }}
  </ul>

  <div class="item">
    <img src="{{ .Params.image }}" alt="{{ .Params.imageName }}">
    <div>{{ .Params.imageName }}</div>
  </div>
  <div class="item">
    <div class="header">{{ .Params.colTitle }}</div>
    <p>{{ .Content }}</p>
    <div class="footer">{{ i18n "read-more" }}
      <br>
      <a href="#">{{ i18n "click" }}</a>
      {{ i18n "continue" }}
    </div>
  </div>
</div>