<div class="container">
  <div class="title">{{ .Params.title }}</div>

  <div class="main-content">
    <div class="item">
      <ul>
        {{- range .Params.sidemenu }}
        <li><a href="#">{{ .item }}</a></li>
        {{- end }}
      </ul>
    </div>

    <div class="item">
      <figure>
      <img src="{{ .Params.image }}" alt="{{ .Params.imageName }}">
      <figcaption>{{ .Params.imageName }}</figcaption>
      </figure>
    </div>

    <div class="item">
      <div class="header">{{ .Params.colTitle }}</div>
      <p>{{ .Content }}</p>
      <div class="footer">{{ i18n "read-more" }}
        <br>
        <a href="#">{{ i18n "click" }}</a>
        {{ i18n "continue" }}
      </div>
    </div>

    <div class="item">
      <div class="header">{{ .Params.colTitle }}</div>
      <figure>
      <img src="{{ .Params.image }}" alt="{{ .Params.imageName }}">
      <div class="tooltip">{{ .Params.imageName }}</div>
    </figure>
        <p>  
        {{ .Content }}</p>
      <div class="footer">{{ i18n "read-more" }}
        <br>
        <a href="#">{{ i18n "click" }}</a>
        {{ i18n "continue" }}
      </div>
    </div>

  </div>

  {{  partial "top-of-page" . }}
</div>