{{- $data := .Page.Params.data }} <!-- Access data from the current page context -->

<div class="container">
  <div class="title">{{ .Params.title }}</div>
  {{- range .Resources }}
    {{ $str := .Name }}
    {{ $number := replaceRE "[^0-9]" "" $str }} <!-- Extract number from image name -->
    
    {{ if $number }}
    {{ $index := int $number }} <!-- Convert $number to integer -->
    
    {{ if and $data (lt $index (len $data)) }}  <!-- Check if the index exists in data -->
      {{ $item := index $data $index }}  <!-- Get the corresponding item from data -->
      <div class="item item-{{ $index }}" style="background-image: url('{{ .RelPermalink }}');">
        <div class="rows">
          <div class="image-title">{{ $item.title }}</div>
          <button>{{ i18n "watch-now" }}</button>
        </div>
      </div>
    {{ else }}
      <div class="item">
        <p>Error: Data not found for image {{ $str }}</p>
      </div>
    {{ end }}
    {{ end }}
  {{- end }}
  {{  partial "top-of-page" . }}
</div>