{{ $image := .Resources.Get .Params.image }}  <!-- Retrieve the image resource -->

<div class="container">
  <div class="bubbles"> 
    {{- range $index, $v := .Resources }}
    {{- if eq $index 0 }}
      <img 
        src="{{ .RelPermalink }}" 
        title="Bubbles" 
        alt="a bubble going up" 
        class="centered-image" >
    {{ end }}
    {{ end }}
  </div>
  <div>
    <div class="title">{{- .Title -}}</div>
    <div class="content">{{- .Content -}}</div>
    <div class="bubbles second"> 
      {{- range $index, $v := .Resources }}
      {{- if eq $index 0 }}
        <img 
          src="{{ .RelPermalink }}" 
          title="Bubbles" 
          alt="a bubble going up" 
          class="centered-image" >
      {{ end }}
      {{ end }}
    </div>
  </div>
  {{  partial "top-of-page" . }}
</div>