{{ define "main" }}
{{- .Scratch.Set "layout" "layouts/index.html" -}}

<section id="cbtv">
<div class="grid-item">
  <div ></div>
  <div >
    <div class="title">{{ .Params.title }}</div>
    <div>{{ .Content }}</div>
  </div>
  <div class="footer">
    <img src="{{ .Params.image }}" title="in Holland" alt="in Holland">
  </div>
</div>
</section>
 
{{ range (where .Site.Pages "Section" "home") }}
  {{ if gt .Params.weight 0 }}
  <section id=".Params.id">
  {{  partial (printf "%s.html" .Params.id) . }}
  </section>
  {{ end }}
{{ end }}

{{ end }}