{{ define "main" }}
{{- .Scratch.Set "layout" "layouts/index.html" -}}

<section id="home">
<div class="grid-item">
  <div ></div>
  <div >
    <div class="title">{{ .Params.title }}</div>
    <div>{{ .Content }}</div>
  </div>
  <div class="footer">
    <img src="{{ .Params.image }}" title="in Holland" alt="in Holland">
  </div>
</div>
</section>
 
{{ range (where .Site.Pages "Section" "home" ) }}
<section id="{{ .Params.id }}" >
  file={{ .Params.id }}
  {{ if eq .Params.id "what-is-cbtv" }}
    {{ partial "what-is-cbtv.html" . }}
  {{ else if eq .Params.id "design-your-future" }}
    {{ partial "design-your-future.html" . }}
  {{ else if eq .Params.id "the-cbtv-archive" }}  {{/* id in frontmatter as we use a page bundle here*/}}
    {{ partial "the-cbtv-archive.html" . }}
  {{ else if eq .Params.id "merch" }}
    {{ partial "merch.html" . }}
  {{ else if eq .Params.id "contact" }}
    {{ partial "contact.html" . }}
  {{ else if eq .Params.id "send-in-your-content" }}
    {{ partial "send-in-your-content.html" . }}
  {{ end }}
</section>
{{ end }}

{{ end }}